<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listners.ExtentReportListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="E:/seleniumprojects/gitendtoend/SeleniumDemoShop">
        <classes>
            <class name="Tests.TestCases">
                
            </class>
        </classes>
    </test>
</suite>